/* Gallery.css */

/* Gallery container styles */
.gallery {
  position: relative;
}

.gallery-image {
  width: 100%;
  height: auto;
}

/* Position slick dots below images */
.slick-dots {
  position: absolute;
  bottom: -40px; /* Adjust the distance from the bottom */
  width: 100%;
  text-align: center;
}

/* Add padding between images */
.slick-slide img {
  max-width: 100%;
  max-height: 40vh; /* Using viewport height for responsive height */
  padding: 0 15px;
  padding-top: 3%;
  width: 90%;
}

/* Add custom cursor styles */
.cursor-default {
  cursor: default;
}

.cursor-auto {
  cursor: auto;
}
